*.versionsBackup
.classpath
.DS_Store
.factorypath
.project
.settings/
/*.[cC][fF][gG]
/*.[iI][nN][fF]
/*.[zZ][iI][pP]
/bin/
/target/
/unpacked
hs_err_pid*.log
interpolated-pom.xml
junit*.properties
lombok.config
